<h2>New Playlist</h2>
  <form (ngSubmit)="createplaylist()">
    Name: <input [(ngModel)]="creation.name" name='name' type=text>
    <select  [(ngModel)]="creation.genres" multiple name='genre'>
      <option *ngFor="let g of genres" value="{{g.genre}}">{{g.genre}}</option>
      </select>
      <select  [(ngModel)]="creation.tags" multiple name='tag'>
          <option *ngFor="let t of tags" value="{{t.id}}">{{t.name}}</option>
          </select>
    <textarea [(ngModel)]="creation.description" name='description'>Description</textarea>

        <input type='submit' value='New Playlist' name='submit'>
  </form>