<h2>{{station.station.name}}</h2>
<div>
  <p id='title'>Track: {{song.title}}</p>
  <p id='artist'>Artist: {{song.artist}}</p>
  <p id='album'>Album: {{song.album}}</p>
  <p id='genre'>Genre: {{song.genre}}</p>
  <p id='rating'>Rating: {{song.rating}}</p>

  <form (ngSubmit)='editsong()'>
    Rating:<input [(ngModel)]="song.rating" type='range' min='0' max='10' style='width:15%;' name='rating'>  
    <input type='submit' value='RATE'>
  </form>
</div>
<div>
  <button (click)="nexttrack()" id='next'>NEXT TRACK</button>  
  <button (click)="randomtrack()" id='next'>Random</button>  
  <button (click)="pauseaudio()" id='pause'>Start/Stop Music</button>
  <button (click)="likesong()" id='pause'>LIKE</button>
  <button (click)="dislikesong()" id='pause'>DISLIKE</button>


</div>
<div>
<button class='btn btn-outline-primary' (click)="switchtag(x)" [ngClass]="{'tagborder': i.songtagged}" *ngFor="let i of alltags;let x=index">{{i.name}}</button>
<form (ngSubmit)='createtag()'>
  <input [(ngModel)]="tag.name" type='text' style='' name='tag'>  
  <input type='submit' value='#TAG'>
</form>

</div>
