<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<body>
<h1>Play the radio</h1>

<audio id='radio' controls>
    <source tracknum='0' id='radiosource' src="/music/itunes/itunes media/music/311/311/paradise.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<div>
  <p id='title'>Track:</p>
  <p id='artist'>Artist:</p>
  <p id='album'>Album:</p>
  <p id='genre'>Genre:</p>
  <p id='rating'>Rating:</p>
  <form>
Rating:<input type='number' name='rating'>  
<input type='hidden' id='sid' value=''>
<input type='submit' value='RATE'>
</form>
</div>
<div>
  <button id='next'>RANDOM TRACK</button>
</div>
<script>
var player = document.getElementById("radio");
var song;
player.onended = function() {
  $.getJSON('http://localhost:8000/randomsong',function(data){
        $("#radiosource").attr('src',data.location);
        player.load();
        player.play();
      })
};
$('#next').click(function(){
    player.pause();
    $.getJSON('http://localhost:8000/randomsong',function(data){
        song=data;
        $("#radiosource").attr('src',data.location);
        $('#title').text(data.title)
        $('#artist').text(data.artist)
        $('#album').text(data.album)
        $('#genre').text(data.genre)
        $('#rating').text(data.rating+' stars')
        player.load();
        player.play();
      })
});
</script>
</body>
